@CHARSET "ISO-8859-1";

/*==================================================================================================================
UTILS
==================================================================================================================*/

html,body {
	background: #e5e9e9;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-feature-settings: "kern";
	text-align: justify; 
	text-justify: inter-word;
	font-size: 14px;	
}

.max-height {
	height: 100%;
}

.max-width {
	width: 100%;
}

/*==================================================================================================================
HEADER
==================================================================================================================*/

.header-top {
	background: #FFF;
	height: 75px;
	line-height: 75px;
	border-bottom: 1px solid #dddddd;
}

/*==================================================================================================================
CUSTOM BOOTSTRAP
==================================================================================================================*/

.form-group {
	margin-bottom: 0px;
}